Repository pso2-ritters/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

test(vitest): 雑にロジックを置いてテストを設定
  docs/assets/index-4d79cc94.js
  docs/assets/index-7e0d7c15.css
  docs/index.html
  package-lock.json
  package.json
  src/helpers/auto-imports.d.ts
  src/helpers/vite-env.d.ts
  src/utils/CollectionUtils.ts
  src/utils/__tests__/CollectionUtils.test.ts
  vite.config.ts
Due: prettier --write, sort-package-json

style(lint): eslintを設定
  .eslintrc.cjs
  .gitignore
  .lintstagedrc.cjs
  .lintstagedrc.json
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, sort-package-json

test(lint): dependency-cruiserを設定
  .dependency-cruiser.cjs
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build(npm): build前にdocsを削除するようにした
  docs/assets/index-7e0d7c15.css
  docs/index.html
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

style(prettier): docsを整形対象外にした
  .dependency-cruiser.cjs
  .lintstagedrc.cjs
  .prettierignore
  docs/assets/index-4d79cc94.js
Due: prettier --write

style(lint): lint-staged設定をcjsにしたら動かなくなっていたのでjsonに戻した
  .lintstagedrc.json
Due: prettier --write

build(tsconfig): import時にsrcを@this指定できるようにした
  docs/assets/index-0545bf63.css
  docs/assets/index-4d79cc94.js
  docs/assets/index-7e0d7c15.css
  docs/assets/index-e7a08c6e.js
  docs/index.html
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, sort-package-json

style(lint): vueファイルがeslintの対象から漏れていたので足した
  .eslintrc.cjs
  docs/assets/index-0545bf63.css
  docs/assets/index-2ce05b25.css
  docs/assets/index-e7a08c6e.js
  docs/assets/index-f7255a68.js
  docs/index.html
  package-lock.json
  package.json
  src/frameworks/vue/App.vue
  src/helpers/auto-imports.d.ts
  src/utils/__tests__/CollectionUtils.test.ts
  vite.config.ts
Due: prettier --write, sort-package-json

style(eslint): vueファイルで謎のエラーが出ていたのでparserにvue-eslint-parserを指定した
  .eslintrc.cjs
Due: none

Update README.md
  README.md
Due: prettier --write

feat(frameworks): Vuetifyで雑に骨組みを配置した
  docs/assets/index-2ce05b25.css
  docs/assets/index-39c15da0.css
  docs/assets/index-6388a908.js
  docs/assets/index-f7255a68.js
  docs/assets/vue-5532db34.svg
  docs/images/ss/pso20230415_200600_004.jpg
  docs/images/ss/pso20230415_200628_007.jpg
  docs/images/ss/pso20230415_200647_008.jpg
  docs/index.html
  index.html
  package-lock.json
  package.json
  public/images/ss/pso20230415_200600_004.jpg
  public/images/ss/pso20230415_200628_007.jpg
  public/images/ss/pso20230415_200647_008.jpg
  src/assets/images/vue.svg
  src/frameworks/vue/App.vue
  src/frameworks/vue/components/HelloWorld.vue
  src/frameworks/vue/index.ts
  src/frameworks/vue/plugins/Vuetify.ts
  src/frameworks/vue/plugins/index.ts
  src/main.ts
  src/style.css
  vite.config.ts
Due: prettier --write, sort-package-json

refactor(assets): SS画像をpublicではなくsrc以下に配置しスクリプト上でimportするようにした
  docs/assets/index-11655bf9.js
  docs/assets/index-39c15da0.css
  docs/assets/index-6388a908.js
  docs/assets/index-c6e2f658.css
  docs/assets/pso20230415_200600_004-dc2c7162.jpg
  docs/assets/pso20230415_200628_007-96009083.jpg
  docs/assets/pso20230415_200647_008-97b3a387.jpg
  docs/index.html
  src/assets/images/ss/pso20230415_200600_004.jpg
  src/assets/images/ss/pso20230415_200628_007.jpg
  src/assets/images/ss/pso20230415_200647_008.jpg
  src/frameworks/vue/App.vue
Due: prettier --write

Create node.js.yml
  .github/workflows/node.js.yml
Due: prettier --write

docs(github): いくつか雑にドキュメントを追加
  .github/ARCHITECTURE.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

ci(nodejs): lint用コマンドが間違っていたので直した
  .github/workflows/node.js.yml
Due: prettier --write

feat(navigation): X関連リンク追加と見た目調整
  .github/ARCHITECTURE.md
  src/frameworks/vue/App.vue
Due: prettier --write

docs: 更新漏れ
  docs/assets/index-11655bf9.js
  docs/assets/index-b194af76.js
  docs/assets/index-c6e2f658.css
  docs/assets/index-d0e66c69.css
  docs/index.html
Due: prettier --write

fix(navigation): †Ritters†メンバーリストのURLがコピペミスしていたので直した
  docs/assets/index-704b489d.css
  docs/assets/index-8361f99e.js
  docs/assets/index-d0e66c69.css
  docs/index.html
  src/frameworks/vue/App.vue
Due: prettier --write

feat(navigation): githubのリンクを追加
  docs/assets/index-37a10491.css
  docs/assets/index-704b489d.css
  docs/assets/index-8361f99e.js
  docs/assets/index-f2511964.js
  docs/index.html
  src/frameworks/vue/App.vue
Due: prettier --write

ci(auto-assign): PRとissueの自動Assignee設定を追加
  .github/workflows/auto-assign.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,scss,yml})
  sort-package-json: any of: package.json
